
.custom-header {
    font-weight: bold;
    background: black;
    color: white;
    padding-left: 8%;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-toggle {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}